* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.numeri {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: aqua;
    display: inline-block;
    position: relative;
    margin: 20px 10px;
}
.numeri > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}















